.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form{
    width: 400px;
    height: 400px;
    border: 1px solid rgb(140, 135, 135);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: #2f2d2d; */

}
.register-f input,.register-e input,.register-p input{
    background-color: rgb(60, 60, 60);
}
.register-f,.register-e,.register-p{
    background-color: rgb(60, 60, 60);
}