
nav{
    position: relative;
}
.list{
    display: none;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 118px;
    outline: 5px solid whitesmoke;
    background-color: white;
    /* padding: 10px; */
    font-weight: 400;
}
ul li:hover .list{
    display: block;
}
.list ul li{
    display: block;
}
button{
    border: 1px solid rgb(245, 244, 244);
    padding: 5px;
    border-radius: 5px;
}

.icon{
    position: relative;
}
.zero{
    position: absolute;
    left:44px;
    top: 11px;
    background-color:  rgba(190, 17, 17);
    color: white;
    height: 15px;
    width: 15px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.zero-1{
    position: absolute;
    right: -1px;
    background-color: rgba(190, 17, 17);
    color: white;
    height: 15px;
    width: 15px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}