
.banner-1 { 
 
    height: auto; 
    width:53vw; 
    border-radius: 10px; 
    background-image: url('../src/Image/banner-1.jpg'); 
    background-repeat: no-repeat; 
    background-size:auto; 
    margin-left:180px; 
} 
.ban{ 
    height:34vh; 
    width:30vw; 
    border-radius: 10px; 
    margin-left: 250px; 
    background-image: url('../src/Image/banner-slider-01.jpg'); 
    background-repeat: no-repeat; 
    background-size: auto; 
} 
.bann{ 
    height: 40vh; 
    width:30vw; 
    border-radius: 10px; 
    
    margin-left: 250px; 
    background-image: url('../src/Image/banner-slider-02.jpg'); 
    background-repeat: no-repeat; 
    background-size: auto; 
}