.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider_container
  {
    display: flex;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after { 
    content: 'prev'; 
    display: none; 
  } 
  .swiper-button-prev, .swiper-button-next { 
    position: absolute; 
    top: var(--swiper-navigation-top-offset, 50%); 
    width: calc(var(--swiper-navigation-size) / 44* 27); 
    height: var(--swiper-navigation-size); 
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2)); 
    z-index: 10; 
    cursor: pointer; 
    display: none; 
    align-items: center; 
    justify-content: center; 
    color: var(--swiper-navigation-color, var(--swiper-theme-color)); 
}
 .bg-1{
  height:400px;
  width:94%;
  background-image: url('../src/Image/banner-1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 .bg-2{
  height:400px;
  width:94%;
  background-image: url('../src/Image/banner-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 .bg-3{
  height:400px;
  width:94%;
  background-image: url('../src/Image/banner-3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 .ban{ 
  
  border-radius: 10px; 
  height: 190px;
  width: 400px;
  background-image: url('../src/Image/banner-slider-01.jpg'); 
  background-repeat: no-repeat; 
  background-size: contain; 
}  
.bann{ 
 
  border-radius: 10px; 
  height: 190px;
  width: 400px;
  margin-top: 10px;
  background-image: url('../src/Image/banner-slider-02.jpg'); 
  background-repeat: no-repeat; 
  background-size:contain; 
} 

