
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 10px;
}
.text{
    height: 50px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 800;
    padding: 10px;
}
.dropdown{
    display: none;
    outline: 2px solid white;
    background-color: white;
}
ul li:hover .dropdown{
    display: block;
    position: absolute;
    text-align: left;
}
.dropdown ul li{
    display: block;
}
.dropdown ul{
    margin: 0;
    padding: 0;
}

.demo{
    position: relative;
    background-color: white;

}

.homemenu{
    display: none;
    position: absolute;
    top: 100%;
    width: 160px;
    outline: 1px solid white;
    background-color: white;
    padding: 10px;
    font-weight: 400;
}
/* :hover.homemenu {
    border-top: 2px solid red;
} */
.homemenu ul li{
    display: block;
}
ul li:hover .homemenu{
    display: block;
}





.div-1,.div-2,.div-3,.div-4,.div-5{
    border-right:1px solid rgba(0,0,0,0.1);
    position: relative;
}
.div-1 p{
        position: absolute;
        border-radius:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        left: 130px;
        top: -7px;
        padding: 10px;
        height: 40px;
        width: 40px;
        background-color: whitesmoke;
        color: red;
        font-weight: bold;
}
.div-2 p,.div-3 p,.div-4 p,.div-5 p{
    position: absolute;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    left: 150px;
    top: -7px;
    padding: 10px;
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    color: red;
    font-weight: bold;
}
.div-6 p{
    position: absolute;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    right: 0px;
    left: 1220px;
    padding: 10px;
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    color: red;
    font-weight: bold;
}
:hover.div-1 p,:hover.div-2 p,:hover.div-3 p,:hover.div-4 p,:hover.div-5 p,:hover.div-6 p{
    background-color: red;
    color: white;
    font-weight: 500;
}