header{
    width: 100%;
    height: 80px;
    margin: auto;
    padding: 15px 0px;
}
header .header-search{
    width: 430px;
    height: 40px;
    border: 1px solid rgb(225, 224, 224);
    border-radius: 5px;
    padding: 10px 15px;
   
}
.header-search .search-icon{
    width: 20%;
}
.header-search .search{
    width: 60%;
    height: 40px;
}
.header-search .search input{
    width: 100%;
    height: 40px;
    border: 0px;
    outline: none !important;
}

