.container{
    width: 100%;
    height: 100vh;
    margin: auto;
     background-color: aqua; 
}
.login-form{
    width: 100%;
    height: 100%;
    background: #00000053;
    display: flex;
    justify-content: center;
    align-items: center;

}