/* .cart-bg{
    height: 200px;
    width: 100%;
    background-image: url('../../Image/shop-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.hr-5{
    height: 2px;
    width: 30px;
    /* background-color: rgb(194, 189, 189); */
    /* background-color: red; */

    .quantity_input {
        position: relative;
      }
      
      .quantity_input:hover .QUT-btn {
        opacity: 1;
      }
      
      .QUT-btn {
        transition: opacity 0.3s;
      }
      
      .INCREASE_count,
      .DECREASE_count {
        display: block;
        width: 20px;
        height: 20px;
      }
      
      .INCREASE_count:hover,
      .DECREASE_count:hover {
        background-color: #e2e2e2;
      }
